<h2 id="address">211 Yacht Club Way</h2>
<div id="map"></div>
<div id="score"></div>
<div id="textbox"></div>
<button class="btn btn-info" id="new">New Location<i class="icon-white icon-arrow-right"></i></button>
