/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#header {
	background-color: darkgrey;
	height: 50px;
	width: 100%;
}

#footer {
	background-color: darkgrey;
	height: 50px;
	width: 100%;
	position: fixed;
    bottom: 0;
}

#map {
	height: 420px;
	width: 45%;
	position: fixed;
	top: 70px;
	left: 30px;
	z-index: 99;
}

#address {
	display: block;
	position: fixed;
	left: 30px;
	width: 45%;
	text-align: center;
}

#textbox {
	display: block;
	position: fixed;
	right: 30px;
	top: 210px;
	width: 45%;
	height: 45%;
	background-color: dodgerblue;
}

#score {
	display: block;
	position: fixed;
	right: 30px;
	top: 70px;
	width: 45%;
	height: 100px;
	background-color: tomato;
}

#new {
	position: fixed;
	right: 40px;
	bottom: 70px;
}